/dts-v1/;

/ {
compatible="nvidia,tegra186";
bpmp_host_proxy: bpmp_host_proxy {
     compatible = "nvidia,bpmp-host-proxy";
     allowed-clocks = <TEGRA234_CLK_UARTA 
                     TEGRA234_CLK_PLLP_OUT0>;
     allowed-rese
    status = "okay";
  };
};
